@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --color-1: #4d96a9;
  --color-2: #855fb1;
  --color-3: #28283d;
  --color-4: #87879d;
  --color-5: #8fe3f9;
  --color-6: #d9b8ff;
  --color-7: #fafafa;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
}

.container {
  --max-width: 80rem;
  --padding: 2em;

  width: min(var(--max-width), 100% - var(--padding) * 1);
  margin-inline: auto;
}

header {
  display: flex;
  justify-content: center;
  padding: 3.5em 0;
}

.hero--section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  overflow: hidden;
}

.hero--section div:first-child {
  transform: translate(-8.5%);
}

.hero--section div:last-child {
  transform: translate(8.5%);
}

.hero--text--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3.5em 1em 0 1em;
}

.hero--text--content h1 {
  font-size: 4.5em;
  color: var(--color-3);
  padding: 0 1em;
  padding-bottom: 0.3em;
  line-height: 64px;
}

.hero--text--content p {
  font-size: 18px;
  color: var(--color-4);
}

.hero--btns {
  margin-top: 1.4em;
  display: flex;
}

.hero--btns button {
  border: 0;
  border-radius: 29px;
  padding: 0.8em 1.2em;
  cursor: pointer;
  color: var(--color-7);
  font-weight: bold;
  transition: background-color 0.2s ease-in;
}

.hero--btns button span {
  color: var(--color-5);
}

.hero--btns .first--hero--btn {
  background-color: var(--color-1);
  margin-right: 0.3em;
}

.hero--btns .first--hero--btn:hover {
  background-color: #4d97a9d3;
}

.hero--btns .second--hero--btn {
  background-color: var(--color-2);
}

.hero--btns .second--hero--btn:hover {
  background-color: #855fb1c7;
}

.o1--line--section,
.o2--line--section {
  min-height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.o2--line--section {
  min-height: 1em;
}

.o2--line--section .line {
  transform: translateY(40%);
}

.o2--line--section .num {
  transform: translateY(50%);
  z-index: 1;
  background-color: var(--color-7);
}

.num {
  width: 3em;
  color: rgba(138, 132, 132, 0.61);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  border-radius: 50%;
  border: 1px solid rgba(138, 132, 132, 0.61);
  aspect-ratio: 1;
  font-weight: bold;
}

.line {
  font-size: 5em;
  font-weight: 10;
  color: rgba(138, 132, 132, 0.411);
  transform: translateY(7%);
}

.img--gallery {
  --max-width: 70rem;
  --padding: 2em;

  width: min(var(--max-width), 100% - var(--padding) * 1);
  margin-inline: auto;

  display: flex;
  padding-top: 2em;
  gap: 1.5em;
}

.img--gallery img {
  border-radius: 0.7em;
  cursor: pointer;
}

.img--gallery img:hover {
  transform: scale(110%, 110%);
  transition: all 0.5s ease-in-out;
}

.modern--use--section {
  --max-width: 42rem;
  --padding: 2em;

  width: min(var(--max-width), 100% - var(--padding) * 1);
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 7em 0 2em 0;
}

.modern--use--section h4 {
  color: var(--color-1);
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 26px;
}

.modern--use--section h2 {
  line-height: 44px;
  font-size: 40px;
  color: var(--color-3);
  max-width: fit-content;
  padding: 0.3em 3em 0.6em 3em;
}

.modern--use--section p {
  color: var(--color-4);
  font-size: 18px;
  padding: 0 4.5em;
}

.footer-overlay {
  background-color: var(--color-1);
  position: absolute;
  bottom: 0;
  min-height: 100%;
  opacity: 0.7;
  width: 100%;
}

footer {
  position: relative;
  background-image: url(/assets/desktop/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.tablet--hero--image {
  display: none;
}

.footer--content {
  padding: 7.5em 8em;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: center;
  justify-content: space-between;
  grid-gap: 2em;
}

.footer--content h3 {
  font-size: 40px;
  line-height: 44px;
  color: var(--color-7);
  z-index: 2;
}

.footer--content p {
  font-size: 18px;
  line-height: 26px;
  color: var(--color-7);
  padding: 0 4em;
  z-index: 2;
  max-width: fit-content;
}

.footer--btn--container button {
  background-color: var(--color-2);
  border: 0;
  color: var(--color-7);
  border-radius: 29px;
  padding: 0.8em 1.2em;
  cursor: pointer;
}

.footer--btn--container button:hover {
  background-color: #855fb1c7;
}

.footer--btn--container span {
  font-weight: bold;
}

.footer--btn--container {
  z-index: 20;
  display: flex;
  justify-content: center;
}

/* Tablet */
@media screen and (max-width: 900px) {
  .hero--section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .tablet--hero--image {
    transform: translateX(5%);
  }

  .hero--text--content {
    padding: 2em 5em;
  }

  .hero--text--content h1 {
    font-size: 48px;
    line-height: 48px;
  }

  .o1--line--section,
  .o2--line--section {
    min-height: 10em;
  }

  .modern--use--section p {
    font-size: 16px;
  }

  footer {
    background-image: url(/assets/tablet/image-footer.jpg);
    background-size: cover;
  }

  .desktop--hero--image {
    display: none;
  }

  .tablet--hero--image {
    display: block;
  }

  .footer--content {
    grid-template-columns: 1fr;
    padding: 5em 4em;
  }

  .footer--content h3 {
    text-align: center;
  }

  .footer--content p {
    padding: 0;
    text-align: center;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  footer {
    background-image: url(/assets/mobile/image-footer.jpg);
  }

  .hero--text--content {
    padding: 1em;
  }

  .hero--text--content h1 {
    font-size: 40px;
    line-height: 44px;
  }

  .hero--text--content p {
    font-size: 16px;
    line-height: 26px;
  }

  .hero--section div:last-child,
  .hero--section div:first-child {
    transform: translate(0);
  }

  .hero--btns {
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }

  .hero--btns .first--hero--btn {
    padding: 1em 3em;
  }

  .hero--btns .second--hero--btn {
    padding: 1em 2em;
  }

  /* .img--gallery {
    flex-wrap: wrap;
  } */

  .modern--use--section h2 {
    font-size: 32px;
    padding: 0.3em 0.5em;
  }

  .modern--use--section p {
    font-size: 16px;
    padding: 0 1em;
  }

  .footer--content {
    padding: 3em 2em;
  }

  .footer--btn--container button {
    padding: 1em 1.5em;
  }
}
