@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --color-1: #4d96a9;
  --color-2: #855fb1;
  --color-3: #28283d;
  --color-4: #87879d;
  --color-5: #8fe3f9;
  --color-6: #d9b8ff;
  --color-7: #fafafa;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
}

.container {
  --max-width: 30rem;
  --padding: 2em;

  width: min(var(--max-width), 100% - var(--padding) * 1);
  margin-inline: auto;
}
